body {
  margin: 0;
  overflow: hidden;
  background: #111;
  color: white;
  font-family: Arial;
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}

#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 10px;
}

#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

#crosshair::before,
#crosshair::after {
  content: '';
  position: absolute;
  background: white;
}

#crosshair::before {
  width: 2px;
  height: 20px;
  left: 9px;
}

#crosshair::after {
  width: 20px;
  height: 2px;
  top: 9px;
}
